.footer {
  background-color: #fff;
  color: black;
  padding: 3rem 1rem 1rem;
  font-family: 'Play Display',serif;
  margin-top: 10%;
}

.footerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  gap: 2rem;
}

.footerLeft, .footerCenter, .footerRight {
  flex: 1 1 250px;
}

.logo {
  width: 160px;
  margin-bottom: 1rem;
   /* filter: brightness(0) saturate(100%) invert(54%) sepia(87%) saturate(748%) hue-rotate(0deg) brightness(101%) contrast(101%); */
}

.footerLeft p {
  color: #000;
  line-height: 1.5;
}

.footerCenter h4, .footerRight h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.footerCenter ul {
  list-style: none;
  padding: 0;
}

.footerCenter li {
  margin-bottom: 0.5rem;
}

.footerCenter a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footerCenter a:hover {
  color: #ff6600;
}

.footerRight p {
  color: #000;
  margin: 0.3rem 0;
}

.socialIcons {
  margin-top: 1rem;
}

.socialIcons a {
  color: #222;
  margin-right: 0.5rem;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.socialIcons a:hover {
  color: #ff6600;
}

.bottomBar {
  text-align: center;
  padding-top: 1rem;
  border-top: 1px solid #333;
  margin-top: 2rem;
}

.bottomBar p {
  color: #121212;
  font-size: 0.9rem;
}



/* Portrait */
@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .footerLeft, .footerCenter, .footerRight {
    flex: none;
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .logo {
    width: 120px;
  }
  
  .footerCenter ul {
    padding: 0;
  }
  
  .socialIcons a {
    margin-right: 1rem;
    font-size: 1.4rem;
  }
}

/*  Landscape */
@media (max-width: 768px) and (orientation: landscape) {
  .footer {
    margin-top: 20vh;  
    padding: 4rem 1rem 2rem;
  }
  
  .footerContainer {
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
  }
  
  .footerLeft, .footerCenter, .footerRight {
    flex: 1 1 30%;
    max-width: 30%;
    margin-bottom: 0;
  }
  
  .logo {
    width: 140px;
  }
  
  .socialIcons a {
    margin-right: 0.75rem;
    font-size: 1.3rem;
  }
}


@media (max-width: 400px) {
  .footer {
    padding: 2rem 1rem 1rem;
    margin-top: 15vh;
  }
  
  .logo {
    width: 100px;
  }
  
  .footerCenter h4, .footerRight h4 {
    font-size: 1rem;
  }
  
  .bottomBar p {
    font-size: 0.8rem;
  }
}
