

.navbar {
  font-family: 'Playfair Display', serif;
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 1000;
  transition: background 0.3s ease, border-bottom 0.3s ease;
  list-style: none;
}

.scrolledBg {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logoImg {
  height: 100px;
  width: auto;
  display: block;
  /* color: white; */
  filter: brightness(0) saturate(100%) invert(54%) sepia(87%) saturate(748%) hue-rotate(0deg) brightness(101%) contrast(101%);
}

.navContainer {
  max-width: 1200px;
  margin: auto;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}




.navLinks {
  display: flex;
  gap: 2rem;
  list-style: none; 
  margin: 0;        
  padding: 0;       
}


.navLink {
  font-size: 1rem;
  color: white;
  transition: color 0.3s ease;
}


.scrolled {
  color: black !important; 
  
}


.navLink:hover {
  color: var(--papconOrange);
}

.active {
  color: var(--papconGreen) !important;
}


.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background: black;
  border-radius: 3px;
}

.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 60%;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
}

.mobileLink {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
}

.mobileLink:hover {
  color: var(--papconOrange);
}


@media (max-width: 768px) {
  html, body {
  overflow-x: hidden;
}
  .navLinks {
    display: none;
  }
  .hamburger {
    display: flex;
  }
    .navContainer {
    padding: 0.8rem 0.5rem;
    max-width: 100%;
  }
  
  .logoImg {
    height: 60px;
  }
}




@media (max-width: 768px) and (orientation: landscape) {
  .mobileMenu {
    width: 80%;
    max-width: none;
    padding: 1.5rem 1rem;
  }
}


.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 60%;
  max-width: 300px;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  gap: 1.5rem;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1050;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}


.mobileMenu.open {
  transform: translateX(0);
}


.mobileLink {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.mobileLink:hover {
  color: var(--papconOrange);
}


@media (max-width: 768px) and (orientation: landscape) {
  .mobileMenu {
    width: 80%;
    max-width: none;
    padding: 1.5rem 1rem;
  }
}
